<div class="carousel col-10 mx-auto">
	{% if include.img1 %}
		<img src="{{include.img1}}"/>
	{% endif %}
	{% if include.img2 %}
		<img src="{{include.img2}}"/>
	{% endif %}
	{% if include.img3 %}
		<img src="{{include.img3}}"/>
	{% endif %}
	{% if include.img4 %}
		<img src="{{include.img4}}"/>
	{% endif %}
	{% if include.img5 %}
		<img src="{{include.img5}}"/>
	{% endif %}
	{% if include.img6 %}
		<img src="{{include.img6}}"/>
	{% endif %}
	{% if include.img7 %}
		<img src="{{include.img7}}"/>
	{% endif %}
	{% if include.img8 %}
		<img src="{{include.img8}}"/>
	{% endif %}
	{% if include.img9 %}
		<img src="{{include.img9}}"/>
	{% endif %}
	{% if include.img10 %}
		<img src="{{include.img10}}"/>
	{% endif %}
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ "/assets/slick/slick.min.js" | prepend: full_base_url }}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.carousel').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			dots: true,
		});
	});
</script>

