<div class="carousel col-10 mx-auto">
	<img src="https://lh3.googleusercontent.com/Kl2v_TFELb1a3sW9JjrQNvX0GwnsBaMFnWJ5WQ9k3Krf2B5v0yzKYTsK0YSrxK2m_2zHTGP4miOxbphaODhGo2qhEC-dqSZbQLhs_H2a8oq313kke7NnZT8pefFMXkEyE5QhpXR2CQ=w1080">
	<img src="https://lh3.googleusercontent.com/U5GyQRJ6hI1xiv6DIjh3bHpOvJ2lVlY0_6Xzwb_fpwdmkE-eJLTVsIY8YeI4-g0durw7HoDg8amlkmsYtWv28UXBUoKyljvjZiDhZjPRX6G051SBzhDE-UWvPT1qsxtpD7HBa-T5ZA=w1080">
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ "/assets/slick/slick.min.js" | prepend: full_base_url }}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.carousel').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			dots: true,
		});
	});
</script>

