<script type="text/javascript" src="{{ "/assets/js/three.js" | prepend: full_base_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/ColladaLoader.js" | prepend: full_base_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/Detector.js" | prepend: full_base_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/OrbitControls.js" | prepend: full_base_url }}"></script>

<div id="container"></div>

<script>

if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

var bbx = {};

// TODO: Add additional configurable parameters
bbx.init = function(model_path) {
    bbx.container = document.getElementById( 'container' );
    bbx.w = bbx.container.clientWidth;
    bbx.h = bbx.w * 0.75;

    bbx.camera = new THREE.PerspectiveCamera( 75, bbx.w / bbx.h, 1, 10000 );
    bbx.camera.position.z = 10;
    bbx.camera.position.y = 10;

    bbx.scene = new THREE.Scene();

    var loader = new THREE.ColladaLoader();
    loader.options.convertUpAxis = true;

    loader.load(model_path, function (collada) {
        bbx.model = collada.scene;
        bbx.model.scale.set( 0.025, 0.025, 0.025 );
        bbx.model.position.set( 0, 0, 0 );
        bbx.scene.add( bbx.model );
    });

    var gridHelper = new THREE.GridHelper( 10, 20 );
    bbx.scene.add( gridHelper );

    var directionalLight = new THREE.DirectionalLight( 0xffffff, 0.5 );
    directionalLight.position.set( 0, 300, 300 ).normalize();
    bbx.scene.add( directionalLight );
    
    var light = new THREE.AmbientLight( 0x404040 ); // soft white light
    bbx.scene.add( light );

    bbx.renderer = new THREE.WebGLRenderer();
    bbx.renderer.setPixelRatio( window.devicePixelRatio );
    bbx.renderer.setSize( bbx.w, bbx.h );
    bbx.container.appendChild( bbx.renderer.domElement );

    controls = new THREE.OrbitControls( bbx.camera, bbx.renderer.domElement );

    window.addEventListener( 'resize', bbx.onWindowResize, false );
}

bbx.animate = function() {
    requestAnimationFrame( bbx.animate );
    if (bbx.model) {
        bbx.model.rotation.y += 0.01;
    }
    bbx.renderer.render( bbx.scene, bbx.camera );
}

bbx.onWindowResize = function() {
    bbx.container = document.getElementById( 'container' );
    bbx.w = bbx.container.clientWidth;
    bbx.h = bbx.w * 0.75;
    bbx.camera.aspect = bbx.w / bbx.h;
    bbx.camera.updateProjectionMatrix();
    bbx.renderer.setSize( bbx.w, bbx.h );
}

this.bbx = bbx;

</script>
