<!-- TODO: Currently this can only be included once per post -->
<div class="videoWrapper">
    <div id="vid"></div>
</div>

<!--  Uses Youtube iframe API to set playback quality to HD: 
      https://developers.google.com/youtube/iframe_api_reference -->
<script type="text/javascript">
    // loads the IFrame Player API code asynchronously
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    console.log("pulled iframe api")

    // create JS youtube player and insert iframe into DOM
    var player;
    function onYouTubeIframeAPIReady() {    

      player = new YT.Player('vid', {
        videoId: '{{ include.vid-id }}', 
        playerVars: {
          rel: 0, 
        },
        events: {
          'onReady': onPlayerReady
        },
      });
    }

    // Set quality to HD
    function onPlayerReady(event) { 
        player.setPlaybackQuality('hd720');
    }

</script>
