// Blue theme

// Color variables
$blue-small: #007AB3;
$gray: #45474A;
$white: #fff;
$blue: #4e99ff;
$orange-claw: #e43200;
$brackish-blue: #354562;

// Config
$color-background: $brackish-blue !default;
$color-dot-accent: $blue !default;
$color-foreground: $orange-claw !default;
$color-title: $blue !default;
$color-body-text: $gray !default;
$color-text-accent: $brackish-blue !default;
$color-code: $blue-small !default;
$color-nav-link: $blue !default;
$color-primary-link: $blue !default;

.prose h2 { color: #666666; }
.prose h3 { color: #777777; }

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
  "variables",
  "base",
  "components",
  "utilities",
  "youtube",
  "images"
;
